<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Matt Hanley - About</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <div class="header">
    <a class="links" href='/home'>Back to Home</a>
    </div>
    <h1>About</h1>
    <div class="aboutBox">
    <p>If Matt Hanley were to hand you a business card you would find out that he is a
      physical therapist who works for the VA.  However that's only a small fraction of 
      who Matt is in his entirety.  Professionally Matt has also been a welder, a bartender, 
      a playwright, a bike messenger and so much more.  But to know who Matt is... you really 
      just have to meet him.</p> 
    <p>He is an extremely engaging, thoughtful, intelligent, boisterous and good natured force to be reckoned with. 
      He is as passionate about his work as he is about the migratory patterns of the local birds.  
      He is as likely to quote Shakespeare as he is to quote one of the hosts 
      of ESPN's Pardon the Interruption.  Talking with Matt is less like having a conversation, and more like 
      asking for the time and as a response being handed a masterful painting of the sky 
      with the sun in its exact position. In other words, Matt is full of life and spending time with him fills
      you with life in return.</p>
    </div>
  </body>
</html>
