<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Matt Hanley - Works</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <div class="header">
      <a class="links" href='/home'>Back to Home</a>
    </div>
    <h1>Works</h1>
    <div class="aboutBox">
    <p>As Matt is a friend and not a celebrity unfortunately I'm not able to look up his life's work... but a very brief summary would look something like this:</p>
    
    <p>The Jungle Book - Play - Writer<br> > A very dark adaptation of the original classic</p>
    <p>The Hulk Virus - Comic Series - Writer  <br> > A tale about learning the value of having awareness of and displaying kindess toward strangers</p>
    <p>Furniture - Builder/Designer - Trash can concealer/shelf storage <br> > A custom kitchen piece made out of wood and metal utilizing a minimalist design.</p>
    </div>

  </body>
</html>